<a href="https://colab.research.google.com/github/ConstanceSU/python_practice_1/blob/main/Python_syntax_variables_exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Print a Greeting

In [47]:
print( "Hello, Python!")

Hello, Python!

Exercise 2: Basic Arithmetic
● Create a program that:
○ Defines two variables, a and b, with numerical values.
○ Prints their sum, difference, product, and quotient.

In [48]:
a = 875875576
b = 98235873734985793845984
total_sum = a + b
difference = a - b
product = a * b
quotient = a / b

print(total_sum, difference, product, quotient)

98235873734986669721560 -98235873734984917970408 86042402491493953536668491286784 8.916046070531004e-15

Exercise 3: String Manipulation
● Define a variable name and assign it your name. Write a program that prints a message saying
"Hello, [name]!" where [name] is the value of the variable.

In [49]:
name = "Yanzhu"
print(f"Hello, {name}!")

Hello, Yanzhu!

Exercise 4: Lists
● Create a list called universities with at least five different university names.
● Print the entire list.
● Print the first and last university in the list.

In [50]:
universities = ["HEC Paris", "ESSEC", "ESCP", "EMLyon", "EDHEC"]
print(universities)
print(universities[0])
print(universities[-1])

['HEC Paris', 'ESSEC', 'ESCP', 'EMLyon', 'EDHEC']
HEC Paris
EDHEC

Exercise 5: Dictionaries
● Create a dictionary called student with keys: name, age, and grade, and assign appropriate
values to each key.
● Write a program that prints each key-value pair in the dictionary.

In [51]:
student = {"name": "Constance",
           "age": 24,
           "grade": "A++++++"}

for key, value in student.items():
    print(f"{key}:{value}")

name:Constance
age:24
grade:A++++++

Exercise 6: Tuples
● Define a tuple called coordinates with two values representing a point in 2D space (e.g., (x, y)).
● Print the value of coordinates and access each element by its index.

In [52]:
coordinates = (873575378, 98689276476238463)
print(coordinates)
print(coordinates[0])
print(coordinates[1])

(873575378, 98689276476238463)
873575378
98689276476238463

Exercise 7: Sets
● Create a set called colors with the values: "red", "green", "blue".
● Add another color to the set.
● Try adding a duplicate color and observe what happens.
● Print the set and remove one color from it.
● Create another set named light_colors and merge colors and light_colors.

In [53]:
colors = {"red", "green", "blue"}
colors.add("royal")
colors.add("red")
print(colors)
colors.remove("blue")
print(colors)
light_colors = {"rosybrown", "strawberry", "lightcoral"}
merged_colors = colors.union(light_colors)
print(merged_colors)

{'royal', 'blue', 'green', 'red'}
{'royal', 'green', 'red'}
{'royal', 'green', 'strawberry', 'red', 'rosybrown', 'lightcoral'}

Exercise 8: Conditional Statements
● Write a program that:
    ○ Takes an input number from the user.
    ○ Checks if the number is positive, negative, or zero.
    ○ Prints an appropriate message based on the result.

In [54]:
number = 8888888

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

Exercise 9: For Loop
● Create a list of numbers from 1 to 5.
● Use a for loop to iterate through the list and print each number.

In [55]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

Exercise 10: While Loop
● Write a program that uses a while loop to print numbers from 1 to 5.
● Ensure the loop terminates correctly

In [56]:
number = 1
while number <= 5:
    print(number)
    number += 1

1
2
3
4
5

Exercise 11: Match Statement (Python 3.10+)
● Write a program that:
    ○ Asks the user to input a grade (e.g., "A", "B", "C", "D", or "F").
    ○ Use a match statement to print a corresponding message for each grade:
        ■ "A": "Excellent!"
        ■ "B": "Good job!"
        ■ "C": "Fair."
        ■ "D": "Needs improvement."
        ■ "F": "Failing."
    ○ Handle invalid input by printing a default message.

In [57]:
grade = "B"
match grade:
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("Invalid grade, please enter:A, B, C, D, or F.")

Good job!

Exercise 12: Define a Function
● Write a function called greet that takes a name as an argument and prints "Hello, [name]!".
● Call the function with your own name.

In [58]:
def greet(name):
    print(f"Hello, {name}!")

greet("Yanzhu")

Hello, Yanzhu!

Exercise 13: Function with Return Value
● Define a function called square that takes a number as an argument and returns its square.
● Print the result of calling this function with different numbers.

In [59]:
def square(number):
    return number * number

print("3^2 =", square(3))
print("5^2 =", square(5))
print("7^2 =", square(7))

3^2 = 9
5^2 = 25
7^2 = 49

Exercise 14: Function with Default Parameters
● Write a function called multiply that takes two parameters, a and b, and returns their product.
Set a default value of 1 for the parameter b.
● Test the function with and without providing the second argument

In [60]:
def multiply(a, b=1):
    return a * b

print(multiply(2362873, 3))
print(multiply(435432))

7088619
435432

Exercise 15: List Comprehension
● Create a list of numbers from 1 to 10.
● Use list comprehension to create a new list that contains the squares of these numbers.
● Print the new list.

In [61]:
numbers = list(range(1, 11))
squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 16: Nested Data Structures
● Create a dictionary where the keys are names of students and the values are lists of their grades.
● Write a function that takes the dictionary and prints the average grade for each student.

In [62]:
import builtins

students_grades = {
    "Timo": [60, 65, 70],
    "Carlota": [99, 89, 98],
    "Jakob": [45, 72, 85],
    "Marcos": [88, 76, 94]
}

def calculate_average(students):
    for student, grades in students.items():
        avg = builtins.sum(grades) / len(grades)  # Use built-in sum explicitly
        print(f"{student}'s average grade = {avg:.1f}")

calculate_average(students_grades)

Timo's average grade = 65.0
Carlota's average grade = 95.3
Jakob's average grade = 67.3
Marcos's average grade = 86.0

Exercise 17: Simple Calculator
● Write a program that:
○ Defines a function calculate which takes three parameters: two numbers and an operator (+, -, *, /).
○ Performs the operation and returns the result.
○ Ask the user for the two numbers and the operator, then call the function and print the result.

In [63]:
def calculate(num1, num2, operator):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        if num2 == 0:
            return "Error: Division by zero"
        return num1 / num2
    else:
        return "Invalid operator"

num1 = 10.0
num2 = 5.0
operator = '/'

result = calculate(num1, num2, operator)
print(f"{result}")

2.0